.header {
    height: 70px;
    button {
        padding: 0;
        height: 70px;
        margin-left: -16px;
    }
    img {
        margin: 0 20px;
    }
    span {
        text-transform: uppercase;
    }
    .mat-select {
        width: 20%;
        margin-left: 20px;
    }
}
